:root {
  scrollbar-color: #FFF transparent;
}
body {
  @apply invisible m-0 w-full h-screen overflow-hidden text-white bg-black font-mono;
}
body > div:first-child {
  @apply h-[90%] w-full;
}
img {
  @apply max-h-[100%]
}
footer > div > div {
  cursor: pointer;
  user-select: none;
}
footer span {
  @apply text-neutral-400 [transition:.15s_color];
}
footer [data-pageIndex]:hover {
  @apply text-neutral-600;
}
footer .active > span {
  @apply text-white;
}
footer .active:hover > span {
  @apply text-neutral-500;
}
