* {
    --font-primary-color: #FFF;
    color: var(--font-primary-color);
}

::selection {
    background-color: #FFF;
    color: #000;
}

body {
    margin: 0;
    height: 100vh;
	position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../assets/Hatsune.jpg");
    font-family: "Arial", "Open Sans", "Noto Sans", sans-serif;
}

body > div {
    background-color: rgba(0, 0, 0, 0.85);
}

.frame {
    height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
}

#home-container {
    --hr-duration: 1s;
    --hr-delay: .5s;
    --hr-total-time: calc(var(--hr-duration) + var(--hr-delay));
    --content-duration: .75s;
    place-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
}

#home-container > hr {
    height: 0px;
    opacity: 0;
    animation: 1s hchr-anime .5s ease-out forwards;
    position: relative;
    bottom: 0px;
}

@keyframes hchr-anime {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        height: 40%;
    }
}

#home-container > div {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#home-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    opacity: 0;
    transform: translateX(10%);
    animation: var(--content-duration) hcl-anime var(--hr-total-time) ease-out forwards;
}

#home-class>div>span:first-of-type {
    font-size: 5em;
}

#home-class>div>span:last-of-type {
    text-align: center;
    width: 100%;
    display: block;
}

#home-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-10%);
    animation: var(--content-duration) hme-anime var(--hr-total-time) ease-out forwards;
}

@keyframes hcl-anime {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes hme-anime {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

#home-me>span:first-of-type {
    font-size: 1.5em;
}

#home-me>span:last-of-type {
    font-size: 2em;
}

#home-me-prog {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #555, #FFF, #555);
    background-size: 200% 100%;
    animation: 5s home-me-prog-animation 0s linear infinite;
}

@keyframes home-me-prog-animation {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: -200%;
    }
}

#skills {
	--skill-duration: 0.75s;
	--skill-1-delay: 0s;
	--skill-2-delay: calc(var(--skill-duration) - 0.2s);
	--skill-3-delay: calc(var(--skill-2-delay) + var(--skill-duration) - 0.2s);
}

#skills.aos>#skillsTitle>span {
	margin-left: 10%;
	opacity: 1;
}

#skills.aos>#skillsTitle>hr {
	opacity: 1;
	width: 100%;
}

#skills.aos>#skillsContainer>.skill {
	animation: var(--skill-duration) skill-animation ease-out forwards;
}

#skills.aos>#skillsContainer>.skill:nth-child(1) {
	animation-delay: var(--skill-1-delay);
}

#skills.aos>#skillsContainer>.skill:nth-child(2) {
	animation-delay: var(--skill-2-delay);
}

#skills.aos>#skillsContainer>.skill:nth-child(3) {
	animation-delay: var(--skill-3-delay);
}

@keyframes skill-animation {
	to {
		opacity: 1;
		transform: translateY(10%);
	}
}

#skillsTitle {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
}

#skillsTitle>span {
    font-size: 3em;
    margin-left: 0%;
	opacity: 0;
	transition: 1s opacity ease-out, 1s margin-left ease-out;
}

#skillsTitle>hr {
    width: 0%;
    opacity: 0;
    left: 0%;
    position: absolute;
	transition: width 1s ease-out;
}

#skillsContainer {
    place-self: center;
    width: 80%;
    height: 50%;
    display: flex;
    column-gap: 10%;
}

.skill {
	will-change: transform;
    transform: translateY(15%);
	opacity: 0;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    transition: filter .25s;
}

.skill:hover {
    filter: grayscale(0);
}


.skill > div {
    height: 70%;
    position: relative;
    display: grid;
    place-items: center;
}

.skill > div > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.skill > span {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    height: 30%;
    display: grid;
    place-items: center;
}

#myclass {
	grid-template-columns: 1fr 60% 1fr;
}

#myclass-title {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: 1s top 1s ease-out;
}

#myclass.aos>#myclass-title {
	top: 10%;
}

#myclass-title>span {
	font-size: 3em;
	opacity: 0;
	transition: .5s font-size 1s ease-out, .5s opacity .5s ease-out;
}

#myclass.aos>#myclass-title>span {
	font-size: 2em;
	opacity: 1;
}

#myclass-title>hr {
	width: 0%;
	opacity: 0;
	transition: .5s width ease-out, 0s opacity ease-out;
}

#myclass.aos>#myclass-title>hr {
	width: 50%;
	opacity: 1;
}

#myclass-carousel {
	top: 20%;
	opacity: 0;
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: 1s opacity 1.7s ease-out;
}

#myclass-carousel>* {
	width: 100%;
	height: 100%;
}

#myclass.aos>#myclass-carousel {
	opacity: 1;
	pointer-events: all;
}

#myclass-content {
	display: grid;
	grid-template-rows: 85% 15%;
}

#myclass-content.transition {
	animation: .25s myclass-content-animation ease-out forwards;
}

@keyframes myclass-content-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#myclass-image {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.myclass-navigation {
	display: grid;
	place-items: center;
}

.myclass-navigation>div {
	width: 40%;
	cursor: pointer;
	aspect-ratio: 1 / 1;
	border: 1px solid #FFF;
	border-radius: calc(100vh + 100vw);
	background-color: rgba(255, 255, 255, 0);
	transition: .25s background-color ease-out;
}

.myclass-navigation>div:hover {
	background-color: rgba(255, 255, 255, 1);
}

#myclass-description {
	font-size: 2.5em;
	display: grid;
	place-items: center;
}